body {
    padding: 0;
    margin: 0; 
    font-size: 15px;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #ed5400;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 25px 0 0 0;
    color: #ed5400;
    display: block;
}

p {
    line-height: 21px;  
}


table {
    width: 100%;
    font-size: 13px;
}


table tr td {
    padding:  10px 5px;
    border-bottom: 1px solid #f58220;
}

table .right {
    text-align: right;
}



hr {
    border-top: 1px solid #DDD; 
}

.span {
    color: #E46A03; 
    font-weight: 600;
} 

.img {
    width: 100%;  
}

ons-col  {
    padding: 15px;
    margin: 0;
}

ons-page {
    background: #FFF;
}

.page--menu-page__content {
    color: white;
}

ons-toolbar  {
    height: 50px;
}

.menu-close,
.menu-close > .toolbar-button {
    color: #999;
}


.menu-item {
    line-height: 60px;
    height: 60px;
    font-weight: 600;
    font-size: 15px;
    padding: 0 20px;
    color: #ff7b33;
    background: #0b0b0b;
    border-bottom: 1px solid #262626 !important;
    border-top: 1px solid #0f0f0f !important;
    text-transform: uppercase;

}


.menu-item .ons-icon {
    padding-right: 10px;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    font-weight: 600;
}

.list {
    border-bottom: 0px !important;
}

.navigation-bar { 
    height: 70px;
    background: url("img/menu-bg.png") repeat-x top center;
    border-bottom: 2px solid #ff7b33;
}

.navigation-bar__line-height {
    line-height: 70px;    
}


ons-toolbar ~ .page__content {
    top: 70px;
 }

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet {
    padding: 10px 15px;
    color: #f58825;   
}

.navigation-bar__item, .navigation-bar__left, .navigation-bar__right, .navigation-bar__center {
    height: 70px;  
}

.page__background {
    background: #ffffff url("img/content-bg.png") repeat-x top center  !important;
}

.navigation-bar__title, .navigation-bar--transparent__right  {
    display: none;
 }

.navigation-bar__right {
    width: 70%;
    max-width: 70%;
    background: url("img/logo.png") no-repeat right center  !important;
    
}

.page--menu-page__background { 
    background: #000000 !important;
}






.img-content  {
    width: 100%; 
    margin: 5px 0 15px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ff7b33;
    
}


/* HR */
hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 20px 0 20px 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,  rgba(150,150,150,0) 5%);
    background: -webkit-gradient(radial, center center, 0px, center center, 55%, color-stop(0%, rgba(150,150,150,0.2)), color-stop(75%, rgba(150,150,150,0)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(150,150,150,0.2) 0%, rgba(150,150,150,0) 75%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(150,150,150,0.2) 0%, rgba(150,150,150,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(150,150,150,0.2) 0%, rgba(150,150,150,0) 75%);
    background: radial-gradient(ellipse at center,  rgba(150,150,150,0.2) 0%, rgba(150,150,150,0) 75%);
}

hr.fancy-line:after {
    background: #f9f9f9;
}

textarea:focus, select:focus {
	border-color: #e31c23!important;
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px #e31c23;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px #e31c23;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px #e31c23;
}

