<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.min.js"></script>
    
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="lib/style.css" />


    <!-- --------------- App init --------------- -->

    <title>Onsen UI Sliding Menu</title>

    <script>
        angular.module('app', ['onsen']);
    </script>


</head>

<body>
    <ons-sliding-menu menu-page="menu.html" main-page="index.html" side="left"  var="menu" type="reveal"  swipeable="true"></ons-sliding-menu>
    
        <ons-sliding-menu menu-page="menu.html" main-page="index.html" side="left"  var="menu" type="reveal" max-slide-distance="260px" swipeable="true"></ons-sliding-menu>



    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('index.html', {closeMenu: true})"> 
                    Úvod</ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('park.html', {closeMenu: true})">
                    Vozový park</ons-list-item>
                
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('price.html', {closeMenu: true})">
                    Ceny</ons-list-item>
   
            
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('contact.html', {closeMenu: true})">
                    Kontakty</ons-list-item>
            </ons-list>
                 </ons-list>
        </ons-page>
    </ons-template>
    
    <!-- Page STRT -->
    <ons-template id="index.html" class="element">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>

            </ons-toolbar>

            <ons-row>
                <ons-col>
                   <h1>Vítáme Vás v aplikaci Autoškola Jahn</h1>
                    <p>Autoškola Jahn v Domažlicích nabízí kurzy řidičského oprávnění skupiny B (tj. osobní automobil do 3 500 kg), AM (motocykl s maximální konstrukční rychlostí do 45 km/h) a A1 (motocykl do objemu 125 ccm a do výkonu 11 kW). Hledáte spolehlivou autoškolu s osobním přístupem, neváhejte nás kontaktovat. </p> 
                    

                    <img src="lib/img/suzuki.png" class="img-content "/>
                    
                    

                   <h2>Zahájení kurzů v naší autoškole</h2>
                   <p>Kurzy zahajujeme pravidelně po <span class="span">dvou měsících</span>, po osobní domluvě možnost <span class="span">indiviuální výuky</span> mimo pravidelný interval. Snažíme se ucházečům vyjít po časové stránce maximálně vstříc.</p> 
                                    

                   <h2>Nabízíme individuální přístup</h2>
                   <p>Kurz trvá od <span class="span">1 do 3 měsíců</span> v závislosti na potřebě uchazeče.</p>
                                    
               
                                    

                   <h2>Prvotřídní výcviková vozidla</h2>
                   <p>Během kurzu budete jezdit ve vozidle <span class="span">ŠKODA OCTAVIA</span> s maximální výbavou, bezpečnostními prvky a ve sportovní úpravě vozidla <span class="span">SUZUKI SWIFT</span>.</p>
                                    
                   <h2>Jízdy na rychlostní komunikaci</h2>
                   <p>Výcvik se provádí nejen v Domažlicích, ale i na <span class="span">rychlostních komunikacích</span> (<span class="i">výlet do Prahy nebo Plzně</span>).</p>
                    
                   <h2>Vhodná poloha učebny</h2>
                   <p>Učebna autoškoly je umístěna na náměstí Domažlic.</p>
                    
                   <h2>Velkoplošná projekce během výuky</h2>
                   <p>Při výuce používáme velkoplošnou projekci.</p>
                    
                   <h2>Možnost zapůjčení učebnic a testovacích otázek</h2>
                   <p>Během teoretické výuky mají uchazeči drobné občerstvení (<span class="i">kafe, limonáda, sladkosti,...</span>) <span class="span">zdarma</span>.</p>
                    
                   <h2>Dárek na závěr</h2>
                   <p>Pro každého úspěšného absolventa hodnotné <span class="span">slevové poukazy</span> na nákup automobilu + <span class="span">malý dárek</span>.</p>
                                                        
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>
    <!-- Page  STOP -->

    
    <!-- Page STRT -->
    <ons-template id="contact.html" class="element">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-row>
                <ons-col>
                   <h1>Sídlo autoškoly</h1>                       
                    <p>David Jahn<br />
                        náměstí Míru 64<br />
                        344 01 Domažlice - Město<br /> 
                        (vhcod totožný s Photo Slačík)<br />  
                        Tel.: 776 846 166<br /> 
                        E-mail: <a href="mailto:autoskolajahn@email.cz">autoskolajahn@email.cz</a>
                    </p>
                    
                    <h1>Umístění učebny</h1>
                    <img src="http://www.autoskolajahn.cz/upload/ucebna/A05_fhdr.jpg" class="img-content "/>
                    <img src="http://www.autoskolajahn.cz/upload/ucebna/A01_fhdr.jpg" class="img-content "/>
                    <img src="http://www.autoskolajahn.cz/upload/ucebna/A06_fhdr.jpg" class="img-content "/>
                    
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>
    <!-- Page  STOP -->

    
    

    <!-- Page STRT -->
    <ons-template id="park.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-row>
                <ons-col>
                   <h1>Vozový park</h1>
                    <p>V současné době používáme pro výcvik  vozidla <span class="span">Škoda OCTAVIA TDI</span>, <span class="span">SUZUKI SWIFT SPORT</span> a motocykl <span class="span">Naked 125</span>.</p> 
                        
                     <h2>Škoda Octavia</h2>
                    <img src="http://www.autoskolajahn.cz/upload/vozidla/skoda-octavia.jpg" class="img-content"/>
                    
                     <h2>Suzuki SWIFT sport</h2>
                    <img src="http://www.autoskolajahn.cz/upload/vozidla/swift-sport.jpg" class="img-content"/>
                    
                    
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>
    <!-- Page  STOP --> 
    
    
    <!-- Page STRT -->
    <ons-template id="price.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-row>
                <ons-col>
                   <h1>Ceny kurzů</h1>
                    <p>V tabulce níže naleznete ceník kurzů a dalších služeb.</p> 
                        
                     <h2>Ceník</h2>
<table  cellspacing="0" cellpadding="4">
  <tbody><tr>
    <td align="left">Skupina B - základní cena kurzu</td>
    <td align="right">8 000 Kč</td>
  </tr>
  
  
  <tr>
    <td align="left">Skupina AM</td>
    <td align="right">5 000 Kč</td>
  </tr>
  
  <tr>
    <td align="left">Skupina A1</td>
    <td align="right">5 000 Kč</td>
  </tr>
  
  <tr>
    <td align="left">2 žáci, na každého sleva (<i>poouze pro skupinu B</i>)</td>
    <td align="right">200  Kč</td>
  </tr>
  
  <tr>
    <td align="left">3 a více žáků, na každého sleva (<i>poouze pro skupinu B</i>)</td>
    <td align="right">500 Kč</td>
  </tr>
  
  <tr>
    <td align="left">Kondiční jízda 45 min. referenčním vozem </td>
    <td align="right">250  Kč</td>
  </tr>
</tbody></table>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>
    <!-- Page  STOP --> 
    
    
</body>
</html>